/*Tri minh sửa*/
.btnAddCart {
  font-size: 14px;
  color: #fff;
  background: #3399cc;
  text-decoration: none;
  position: relative;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
  padding: .5em 0;
  outline: none;
}
.btnAddCart:hover {
  background: #fe9126;
}
.clearall {
  width: 100%;
  padding: 0 10px;
  text-align: center;
  margin: 20px 0;
}

.clearall button{
  color: #0081bd;
  background-color: transparent;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  line-height: 20px;
  position: relative;
}

.h4FormPay {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
}

.btn-step {
  margin: 5px 10px 10px;
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  width: calc(100% - 20px);
}

hr{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.btn-og {
  font-size: 15px;
  font-weight: bold;
  color: #fff !important;
  border: 0;
  text-align: center;
  background: #ff9142;
  border-radius: 4px;
  background: #008848;
  cursor: pointer;
  outline: none;
}

.formPay {
  background-color: #fff;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.imageCard {
  width: 80px;
  height: auto;
}


.numberCart {
  position: absolute;
  background: red;
  text-align: center;
  border-radius: 50%;
  color: #FFFFFF;
  padding: 1px 5px;
  font-size: 12px;
  right: 12px;
  top: -1px;
}

.modal-content{
  margin-left: 20% !important;
}
.table-image thead td,
.table-image thead th {
  border: 0;
  color: #666;
  font-size: 15px;
}
.table-image td,
.table-image th {
  vertical-align: middle;
  text-align: center;
}
.table-image td.qty,
.table-image th.qty {
  max-width: 10%;
}

.qty input{
  width: 40px;
  text-align: center;
}

.w-25 img {
  width: 80px;
  height: auto;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 1rem;
}

.btnSS{
  padding : 6px 12px !important;
}
.modal-header .close {
  margin-top: -20px;
}
.priceSp {
  text-decoration: line-through;
}
.discount {
  display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    background: #de2000;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center
}
.fontSiteContent {
  font-size : 13px
}

/*Tri minh sửa*/


a.btn.btn-lg.btn-primary.text-uppercase {
    background: #3399cc;
    border-color:white;
    margin-bottom: 30px;
}
a.btn.btn-lg.btn-primary.text-uppercase:hover{
	background: #fe9126;

}
h3.title.mb-3 {
  margin-top: 20px;
}

.view-more{
  color: #0064c2;
  padding-bottom: 10px;
  line-height: 30px;
  font-size: 13px !important;
}

.btnSearchT {
  position: absolute;
  top: 12px;
  right: 5px;
  border: 0;
  width: 31px;
  height: 31px;
  border-radius: 4px;
  color: #a7a7a7;
  background-color: #fff;

}

.backgroundT {
  background-color: #fff
}

.boxprice label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #fff !important;
    font-weight: 600;
    border-radius: 3px;
    background: #de2000;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 5px;
}
.boxprice strong {
    display: inline-block;
    font-size: 24px;
    color: #c10017;
    vertical-align: middle;
    
}
.boxprice .strike {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}
.thongtinsanpham li span {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-size: 13px;
    color: #999;
    width: 18%;
}
.thongtinsanpham li div {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #4a4a4a;
    width: 80%;
}
.thongtinsanpham li {
    display: block;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ecf0f1;
    padding: 10px 5px;
}
img.img-circle {
    width: 100px;
}
/*button.btn.btn-info.pull-right:hover{
	background: #fe9126;
	border: white;
}*/
#frmAddComment input {
    width: 25%;
    margin-bottom: 16px;
}

.cmtinfo textarea {
    border-style: solid;
    border-radius: inherit;
    box-sizing: border-box;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
}
button.btn.btn-info.pull-right{
    background:#3399cc;
}
button.btn.btn-info.pull-right:hover{
    background-color:#fe9126;
}
.info button {
    display: inline-block;
    margin-right: 10px;
    width: 135px;
    height: 48px;
    background-color: #3399cc;
    color: white;
    position: relative;
    top: -129px;
    right: -388px;;
    border-radius: 8px

}
.info button:hover{
    background-color: #fe9126; 
}
.info input {
    box-sizing: border-box;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    text-indent: 10px;
}
input {
  border: 1px solid #ccc;
  padding: 5px 2px;
  border-radius: 5px;
}
.card-inner{
    margin-left: 4rem;
}
input#inlineRadio1 {
    position: relative;
    top: 68px;
    left: -72px;
}
input#inlineRadio2 {
    position: relative;
    top: 6px;
    left: 100px;
}
select.browser-default.custom-select {
    margin-bottom: 18px;
    border-radius: 6px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    margin-left: 20px;
    position: relative;
    right: -390px;
    top: 66px;
}
.quantrivien {
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid #008848;
    font-size: 13px;
    color: #008848;
    font-weight: normal;
    display: inline-block;
    font-style: normal;
    margin-left: 5px;
    background: #f8f8f8;
    position: relative;
    top: -23px;
    right: -139px;
}

 /* {
  box-sizing: border-box;
} */

.danhgianguoidung{
  font-family: Arial;
  margin: 0 auto; 
  max-width: 800px; /* Max width */
  padding: 20px;
  margin-left: 1px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: gold;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
a.twitter.btn {
    background: #55ACEE;
    margin-top: 10px;
    color:white;
    width: 100%;
    border-radius: 10px;
}
a.fb.btn {
    background: #3B5998;
    margin-top: 10px;
    color:white;
    border-radius: 10px;
    padding-right: 15px;
}
a.google.btn{
  background-color: #dd4b39;
  color: white;
  /* margin-top: 47px;
  margin-left: -130px; */
  border-radius: 10px;
}
.btnSocial {
  padding-left : 0 !important;
  margin-top: 10px;
}

.facebook {
  border-radius: 10px !important;
  width: 100%;
}
.google {
  border-radius: 10px !important;
  width: 100%;
}


/*=================left navibar begin=========================================*/

.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed,
.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed:before { left: auto }

.gw-sidebar {
  /* width: 290px; */
  
 
  /* border: 1px solid #e5e5e5; */
  /* border-width: 1px 1px 1px 1px; */
  box-shadow: 1px 1px 2px 1px  #888888;
  background-color: white;
  
 
  margin-top: 20px;
  margin-left: 0px;
  /* position: fixed; */
  position: fixed;
  z-index: 50000;
  overflow-y: hidden auto;
  overflow-x: hidden;
  width: 210px;
  height: 319px;
}

.gw-sidebar::-webkit-scrollbar-track {
  border: 1px solid #fff;
  padding: 2px 0;
  background-color: #fff;
}

.gw-sidebar::-webkit-scrollbar {
  width: 1px;
}

.gw-sidebar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px #fe9126;
  background-color: #fe9126;
  border: 1px solid #fe9126;
}
.copyright{
  color: #999;
  font-size: 10px;
  margin: 10px 0;
}
.new2019 {
  background: #fff;
  border-radius: 4px 4px 0 0;
  height: calc(100vh - 10px);
}
.col-md-9.content-right {
  margin-left: 220px;
  width: 85%;
}
i.fa.fa-bars {
    position: relative;
    top: 4px;
    left: -5px;
}
.gw-sidebar .nano-pane {
  background: rgba(255, 255, 255, 0);
  font-size: 15px;
}

.gw-sidebar .gw-nav-list { border-right: 1px solid #CCC; }

.gw-sidebar .gw-nav-list li a { padding-left: 20px; }

.gw-nav-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.gw-nav-list>li:first-child { border-top: 0; }

.gw-nav-list>li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  text-decoration: none;
}
 @-webkit-keyframes 
arrow-slide {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
 @-webkit-keyframes 
arrow-slide1 {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}

.gw-nav-list>li.arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow-slide .5s 0s ease both;
}

.gw-nav-list>li.init-arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
}

.gw-nav-list>li.arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow-slide1 .5s 0s ease both;
}

.gw-nav-list>li.init-arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
}

.gw-nav-list>li.active { background-color: #fff; }

.gw-nav-list>li>a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: #f9f9f9;
  color: #585858;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
}

.gw-open > a { outline: 0; }

.gw-nav-list>li.gw-open { border-bottom-color: #e5e5e5 }

.gw-nav-list>li.gw-open>a {
  background-color: #fafafa;
  color: #1963aa
}

.gw-nav-list .gw-open>a,
.gw-nav-list .gw-open>a:hover,
.gw-nav-list .gw-open>a:focus { background-color: #fafafa }

.gw-nav .gw-open > a,
.gw-nav .gw-open > a:hover,
.gw-nav .gw-open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}

.gw-nav-list>li.active>a,
.gw-nav-list>li.active>a:hover,
.gw-nav-list>li.active>a:focus,
.gw-nav-list>li.active>a:active {
  background-color: #fff;
  color: #fe9126;
  font-weight: bold;
  font-size: 13px;
}

.gw-nav-list>li>a,
.gw-nav-list .gw-nav-header { margin: 0 }
.gw-nav-list>li.active>a>[class*="icon-"] {
 font-weight: normal
}

.gw-nav-list>li.active>a:hover:before { display: none }

.gw-nav-list>li.active:before {
  display: inline-block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #dd4814;
  border-width: 0 2px 0 0
}

.gw-nav-list li.gw-open>a:after { display: none }

.gw-nav-list>li a>.gw-arrow {
  display: inline-block;
  width: 14px!important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  color: #666
}

.gw-nav-list>li a:hover>.gw-arrow,
.gw-nav-list>li.active>a>.gw-arrow,
.gw-nav-list>li.gw-open>a>.gw-arrow { color: #1963aa }

.gw-nav-list>li>a>[class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px
}

.gw-nav-list>li.active .gw-submenu {
 /* display: block   */
 -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
}

.gw-nav-list>li .gw-submenu {
  font-size: 13px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.gw-nav-list>li .gw-submenu>li {
  margin-left: 0;
  position: relative
}

.gw-nav-list>li .gw-submenu>li>a {
  display: block;
  position: relative;
  color: #616161;
  padding: 7px 0 9px 43px;
  margin: 0;
  border-top: 1px dotted #e4e4e4;
  font-size: 14px;
  text-decoration: none;
}

.gw-nav-list>li .gw-submenu>li>a:focus { text-decoration: none }

.gw-nav-list>li .gw-submenu>li>a:hover {
  text-decoration: none;
  color: #fe9126;
  background-color: rgba(25,25,50,0.1);
}

.gw-nav-list>li .gw-submenu>li.active:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #dd4814;
}

.gw-nav-list>li .gw-submenu>li.active>a { color: #dd4814 }

.gw-nav-list>li .gw-submenu>li a>[class*="icon-"]:first-child {
  display: none;
  font-size: 12px;
  font-weight: normal;
  width: 18px;
  height: auto;
  line-height: 12px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 1;
  background-color: #FFF
}

.gw-nav-list>li .gw-submenu>li.active>a>[class*="icon-"]:first-child,
.gw-nav-list>li .gw-submenu>li:hover>a>[class*="icon-"]:first-child { display: inline-block }

.gw-nav-list>li .gw-submenu>li.active>a>[class*="icon-"]:first-child { color: #c86139 }

.gw-nav-list>li>.gw-submenu>li:first-child>a { border-top: 0px; }

.gw-nav-list li .gw-submenu { overflow: hidden }

.gw-nav-list li.active.gw-open>.gw-submenu>li.active.gw-open>a.dropdown-toggle:after { display: none }

.gw-nav-list li.active>.gw-submenu>li.active>a:after { display: none }

.gw-nav-list li.active.gw-open>.gw-submenu>li.active>a:after { display: block }

.gw-nav-tabs li[class*=" icon-"],
.nav-tabs li[class^="icon-"] {
  width: 1.25em;
  display: inline-block;
  text-align: center
}
/* ul.gw-submenu{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
ul.gw-submenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */
/*=================left navibar end=========================================*/
/*trang đặt hàng*/
.col-md-12.tenkhachhang {
  background-color: #fff;
}
.col-md-12.diachi{
  background-color: #fff;
  margin-top: 10px;
  height: auto;
}
.col-md-12.thoigian{
  background-color: #fff;
  margin-top: 10px;
  height: auto;
}
label.error {
  display: inline-block;
  color:red !important;
  width: 500px;
}
.summary-final {
  padding: 15px 0;
  font-size: 14px;
}
.summary .row1 {
  width: 100%;
  display: flex;
  overflow: unset;
  font-size: 14px;
}
.summary-final .row1 .col55 {
  width: 100%;
  padding-bottom: 0;
}
.summary .row1 .col55>div, .summary .row1 .col55>a {
  text-align: right;
  position: relative;
}
.summary div>span {
  display: inline-block;
  color: #999;
  width: auto;
  text-align: right;
  position: relative;
}
.donhang{
  margin-left: 280px;
  margin-bottom: 10px;
}
button.btn.btn-success {
  padding: 16px;
  margin: auto;
  margin-bottom: 10px;
}
/* Thương hiệu sản phẩm */
.manufacture.top {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e9edf0;
  margin-top: 5px;
  background: #fff;
  position: relative;
  list-style: none;
  height: 50px;
}
.manufacture {
  display: block;
  background: #fff;
  position: relative;
  padding: 0 0 10px;
}
.manufacture .catesearch {
  float: left;
  position: relative;
  width: 181px;
  margin: 9px 4px 5px 10px;
}
.manufacture .catesearch .searchcate {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  padding-right: 32px;
  font-size: 13px;
  width: calc(100% - 47px);
}
.manufacture .catesearch .reset {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 7px;
  background: #fff;
}
.manufacture .catesearch .butcatesearch {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: 0;
  width: 20px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.bhx-search {
  background-position: -282px -33px;
  width: 18px;
  height: 18px;
}
.manufacture .catesearch .resultsearch {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  z-index: 2;
  top: 39px;
  overflow: inherit;
  position: absolute;
  width: 98%;
}
.resultsearch ul li {
  width: 100%;
  color: #515151;
  height: auto;
  margin: 5px 0;
  padding-left: 10px;
}
.manufacture li {
  float: left;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  padding: 5px 3px;
  width: 92px;
  height: 40px;
}
.manufacture a img {
  display: block;
  width: 51px;
  height: auto;
  max-height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.manufacture a i {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
}
span.moremanu.top {
  font-size: 15px;
  position: relative;
  right: -211px;
  bottom: -7px;
  color: red;
}
/* lịch sử mua hàng */
.orderhistory{
  background-color: white;
  margin-bottom: 10px;
  margin-top: 64px;
  padding: 40px;
}
.col-md-3.quanlyusers {
  list-style: none;

}
.tab-menu {
  border: 1px solid #e1e1e1;
  border-bottom: none;
  margin-top: -74px;
}
.tab-menu a {
  display: block;
  padding: 15px 15px;
  border-bottom: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-size: 14px;
  color:rgb(74, 74, 74);;
}
.active,.tab-menu a:hover{
 background-color:#d45a00;
}
.wp-name-and-avatar-user {
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0px;
}
.avatar-user {
  width: 100px;
  height: auto;
  margin-right: 18px;
}
.avatar-user img {
  width: 100%;
  border-radius: 100px;
}
.name-user {
  width: 200px;
  padding-top: 10px;
  position: relative;
  left: 104px;
  top: -93px;
}
.s-text7 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #14191e;
  line-height: 1.8;
}
.name-user .name {
  font-size: 20px;
  font-weight: bold;
  color:rgb(74, 74, 74);;
}
.col-md-9 h3 {
  position: relative;
  top: 10px;
}

.inforname{
  background-color: white;
}
.dmy{
  width: 70px;
  height: 40px;
  border-radius: 5px;
}
.mkm{
  margin-top: 12px;
}
/* silde  hinhg */
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: re;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color:white;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column1 {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}