<%- include("../adminHeader")  %>
<div class="page-breadcrumb">
  <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
          <div class="ml-auto text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="admin">Trang Chủ</a></li>
                      <li class="breadcrumb-item"><a href="admin/product">Sản Phẩm</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Thêm Sản Phẩm</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title m-b-0">Thêm sản phẩm</h4>
      <!-- thêm form ơ đây -->
    </div>
  </div>
</div>


<%- include("../adminFooter") %>