            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
              <strong>Copyright &copy; 2020 <a href="https://bachhoaonlinevn.herokuapp.com/">BachHoaOnline </a>.</strong> All rights
              reserved.
          </footer>
          <!-- ============================================================== -->
          <!-- End footer -->
          <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->

  <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

  <!--This page JavaScript -->
  <!-- <script src="admin_template/js/pages/dashboards/dashboard1.js"></script> -->
  <!-- Charts js Files -->
  <!-- ************** -->


  <!-- config app -->
  <script src="admin_template/js/appConfig.js"></script>
</body>

</html>   