<%- include("header.ejs")  %>
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="">Giới Thiệu Về Bách Hóa online</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">GIỚI THIỆU VỀ BÁCH HÓA ONLINE</h3>
        <div class="about-agileinfo w3layouts">
            <div class="col-md-10 about-wthree-grids grid-top">
                
                <p class="top">Bách hóa online là một website thương mại điện tử nó giống như một tiệm tạp hóa thu nhỏ giúp cho người mua có thể ở nhà mà vẫn mua được các đồ sinh hoạt hàng ngày của mình mà không cần phải đến tận cửa tiệm Với phương châm hoạt động “Tất cả vì Khách Hàng”, Bách hóa onlie luôn không ngừng nỗ lực nâng cao chất lượng dịch vụ và sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh trong 2 tiếng và ngày hôm sau . </p>
                </div>
                </div>	
                </div>
                </div>	
            
<!-- //about-slid -->
<!-- about-team -->
<div class="about-team"> 
    <div class="container">
        <h3 class="w3_agile_header">TÍNH CÁCH CỦA CHÚNG TÔI </h3>
        <div class="row">
        <div class="team-agileitsinfo">
            <div class="col-md-3">
                <img src="user-template/images/gt1.jpg" style="width: 100%" alt=""/>
                <div class="team-w3lstext">
                    <br>
                    <h4><span>Gần Gũi</h4>
                    <p>Chúng tôi có niềm tin vào tính gần gũi mà thanh liêm, nền tảng vững chắc cho một cuộc sống trung thực, bình dân và thành thật với bản thân</p>
                </div>
                <!-- <div class="social-icons caption"> 
                    <ul>
                        <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                        <li><a href="#" class="fa fa-google-plus googleplus"> </a></li> 
                    </ul>
                    <div class="clearfix"> </div>  
                </div> -->
            </div>
            <div class=" col-md-3 ">
                <img src="user-template/images/gt2.jpg" style="width: 100%" alt=""/>
                <div class="team-w3lstext">
                    <br>
                    <h4><span>Vui Vẻ</h4>
                    <p>Chúng tôi dễ gần, thân thiện đáng yêu và tràn đầy năng lượng, luôn mang đến niềm vui cho những người xung quanh.</p>
                </div>
                <!-- <div class="social-icons caption"> 
                    <ul>
                        <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                        <li><a href="#" class="fa fa-google-plus googleplus"> </a></li> 
                    </ul>
                    <div class="clearfix"> </div>  
                </div> -->
            </div>
            <div class="col-md-3">
                <img src="user-template/images/gt3.jpg" alt="" style="width: 100%" />
                <div class="team-w3lstext">
                    <br>
                    <h4><span>Đồng Lòng</h4>				
                    <p>Chúng tôi thích tận hưởng thời gian bên nhau giống như tận hưởng việc mua sắm trực tuyến với người thân và bạn bè - làm những việc yêu thích</p>
                </div>
                <!-- <div class="social-icons caption"> 
                    <ul>
                        <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                        <li><a href="#" class="fa fa-google-plus googleplus"> </a></li> 
                    </ul>
                    <div class="clearfix"> </div>  
                </div> -->
            </div>
            
            <div class="clearfix"> </div>
                
            
        </div>	
        </div>
    </div>
</div>
<!-- //about-team -->
<%- include("footer.ejs")  %>