<%- include("header.ejs")  %>
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
    
        <h2> Giỏ Hàng Cửa Bạn: <span> 3 Sản Phẩm</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Số Lượng</th>	
                        <th>Sản Phẩm</th>
                        <th>Chất Lượng</th>
                        <th>Tên Sản Phẩm</th>
                    
                        <th>Giá</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tr class="rem1">
                    <td class="invert">1</td>
                    <td class="invert-image"><a href="single.html"><img src="user-template/images/1.png" alt=" " class="img-responsive" /></a></td>
                    <td class="invert">
                         <div class="quantity"> 
                            <div class="quantity-select">                           
                                <div class="entry value-minus">&nbsp;</div>
                                <div class="entry value"><span>1</span></div>
                                <div class="entry value-plus active">&nbsp;</div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">Tata Salt</td>
                    
                    <td class="invert">$290.00</td>
                    <td class="invert">
                        <div class="rem">
                            <div class="close1"> </div>
                        </div>
                        <script>$(document).ready(function(c) {
                            $('.close1').on('click', function(c){
                                $('.rem1').fadeOut('slow', function(c){
                                    $('.rem1').remove();
                                });
                                });	  
                            });
                       </script>
                    </td>
                </tr>
                <tr class="rem2">
                    <td class="invert">2</td>
                    <td class="invert-image"><a href="single.html"><img src="user-template/images/2.png" alt=" " class="img-responsive" /></a></td>
                    <td class="invert">
                         <div class="quantity"> 
                            <div class="quantity-select">                           
                                <div class="entry value-minus">&nbsp;</div>
                                <div class="entry value"><span>1</span></div>
                                <div class="entry value-plus active">&nbsp;</div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">Fortune oil</td>
                
                    <td class="invert">$250.00</td>
                    <td class="invert">
                        <div class="rem">
                            <div class="close2"> </div>
                        </div>
                        <script>$(document).ready(function(c) {
                            $('.close2').on('click', function(c){
                                $('.rem2').fadeOut('slow', function(c){
                                    $('.rem2').remove();
                                });
                                });	  
                            });
                       </script>
                    </td>
                </tr>
                <tr class="rem3">
                    <td class="invert">3</td>
                    <td class="invert-image"><a href="single.html"><img src="user-template/images/3.png" alt=" " class="img-responsive" /></a></td>
                    <td class="invert">
                         <div class="quantity"> 
                            <div class="quantity-select">                           
                                <div class="entry value-minus">&nbsp;</div>
                                <div class="entry value"><span>1</span></div>
                                <div class="entry value-plus active">&nbsp;</div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">Aashirvaad atta</td>
                    
                    <td class="invert">$15.00</td>
                    <td class="invert">
                        <div class="rem">
                            <div class="close3"> </div>
                        </div>
                        <script>$(document).ready(function(c) {
                            $('.close3').on('click', function(c){
                                $('.rem3').fadeOut('slow', function(c){
                                    $('.rem3').remove();
                                });
                                });	  
                            });
                       </script>
                    </td>
                </tr>
                            <!--quantity-->
                                <script>
                                $('.value-plus').on('click', function(){
                                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                                    divUpd.text(newVal);
                                });

                                $('.value-minus').on('click', function(){
                                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                                    if(newVal>=1) divUpd.text(newVal);
                                });
                                </script>
                            <!--quantity-->
            </table>
        </div>
        <div class="checkout-left">	
            <div class="checkout-left-basket">
                <h4>Tiếp Tục Giỏ Hàng</h4>
                <ul>
                    <li>Sản Phẩm 1 <i>-</i> <span>$15.00 </span></li>
                    <li>Sản Phẩm 2 <i>-</i> <span>$25.00 </span></li>
                    <li>Sản Phẩm 3<i>-</i> <span>$29.00 </span></li>
                    <li>Tổng Chi Phí <i>-</i> <span>$15.00</span></li>
                    <li>Thành Tiền <i>-</i> <span>$84.00</span></li>
                </ul>
            </div>
            <div class="checkout-right-basket">
                <a href="single.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp Tục Mua Sắm </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    
</div>
<!-- //checkout -->
<%- include("footer.ejs")  %>