<%- include("header.ejs")  %>

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Liên Hệ</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- contact -->
<div class="about" max-with=1080px>
    <div class="w3_agileits_contact_grids">
        <div class="col-md-12 w3_agileits_contact_grid_right">
            <h2 class="w3_agile_header" style="margin-left: 14px;">Bách hóa online hân hạnh đươc hỗ trợ<span> Quý Khách</span></h2>

            <form action="#" method="post">
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder=" " required="" />
                    <label class="input__label input__label--ichiro" for="input-25">
                        <span class="input__label-content input__label-content--ichiro">Họ và tên của quý khách </span>
                    </label>
                </span>
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="email" id="input-26" name="Email" placeholder=" " required="" />
                    <label class="input__label input__label--ichiro" for="input-26">
                        <span class="input__label-content input__label-content--ichiro"> Email của quý khách</span>
                    </label>
                </span>
                <textarea name="Message" placeholder="Nội dung (xin quý khách mô tả chi tiết)" required=""></textarea>
                <input type="submit" value="Gửi Góp Ý">
            </form>
        </div>
        <div class="col-md-10 w3_agileits_contact_grid_left">
            <div class="agile_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2301655236356!2d106.80116329967343!3d10.87009074222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2sUniversity%20of%20Information%20Technology%20VNU-HCM!5e0!3m2!1sen!2s!4v1586936068011!5m2!1sen!2s" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
            </div>
            <div class="agileits_w3layouts_map_pos">
                <div class="agileits_w3layouts_map_pos1">
                    <h3>Thông Tin Liên Hệ </h3>
                    <p>UIT</p>
                    <ul class="wthree_contact_info_address">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:uit@gm.uit.edu.vn">uit@egm.uit.edu.vn</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>0962263642</li>
                    </ul>
                    <div class="w3_agile_social_icons w3_agile_social_icons_contact">
                        <ul>
                            <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
                            <li><a href="#" class="icon icon-cube agile_rss"></a></li>
                            <li><a href="#" class="icon icon-cube agile_t"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"> </div>
    </div>
</div>
<!-- contact -->

<%- include("footer.ejs")  %>