<!-- //new -->
<!-- //footer -->
</div>
</div>
</div>
</div>
<div class="footer">
  <div class="col-md-3 w3_footer_grid">
    <a href="/">
      <img
        src="https://res.cloudinary.com/nguyenminhtri/image/upload/c_scale,h_50,w_153/v1593957466/BachHoaOnline/logo/logo9h_sdzmse.png">
    </a>
    <p class="">Website phục vụ Đồ án môn học</p>
    <p class="infor">Nhóm 9 - Lập trình ứng dụng mạng NT109.K21 - ThS. Đỗ Thị Hương Lan</p>
    <p class="infor">Thực hiện:</p>
    <p class="infor">17521066:Nguyễn Minh Thao</p>
    <p class="infor">17521156:Nguyễn Minh Trí</p>

  </div>

  <div class="w3_footer_grids">
    <div class="col-md-3 w3_footer_grid">

      <h3>Liên Hệ</h3>

      <ul class="address">
        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>UIT <span>TP.Hồ Chí Minh</span>
        </li>
        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
            href="bachhoaonline.vn.uit@gmail.com">bachhoaonline.vn.uit@gmail.com</a></li>
        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0123456789</li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>Thông Tin</h3>
      <ul class="info">
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about">Về chúng tôi </a></li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact">Liên hệ với chúng tôi</a>
        </li>

      </ul>
    </div>
    
    <div class="col-md-3 w3_footer_grid">
      <h3>Cá Nhân</h3>
      <ul class="info">
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="pay">Thanh Toán </a></li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="login">Đăng nhập </a></li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="register">Đăng ký </a></li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="user/forgotPassword">Quên Mật Khẩu? </a>
    </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="text-center copyright">
    <strong>Copyright &copy; 2020 <a href="<%= BASE_URL %>">BachHoaOnline </a>.</strong> All rights reserved.
    <p>Email: <a href="bachhoaonline.vn.uit@gmail.com">bachhoaonline.vn.uit@gmail.com</a></p>
  </div>
</div>


<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="user-template/js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
$(document).ready(function () {
  /*
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear' 
    };
  */

  $().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<!-- //here ends scrolling icon -->

<!--custom page-->

<!--custom slider-->
<script src="user-template/js/skdslider.min.js"></script>
<link href="user-template/css/skdslider.css" rel="stylesheet">
<!--end custom slider-->

<script src="user-template/js/minicart.min.js"></script>
<script src="user-template/js/customPages/jqueryHome.js"></script>
<!--end custom page-->

</body>

</html>