<%- include("header2.ejs")  %>
  <!-- breadcrumbs -->
<div class="breadcrumbs">
  <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
      <li class="">Quên Mật Khẩu</li>
  </ol>
</div>
<!-- //breadcrumbs -->
<div class="text-center">
  <div class="form-gap">
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Quên Mật Khẩu</h2>
                    <p>bạn có thể khôi phục lại mật khẩu ở đây.</p>
                    <div class="panel-body">
                      <form id="forgot-form" role="form" autocomplete="off" class="form" method="">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="email" name="email" placeholder="nhập email tài khoản của bạn" class="form-control"  type="email" required>
                          </div>
                        </div>
                        <div class="hidden">
                          <div class="form-group">
                            <input id="u_code" name="u_code" placeholder="Nhập mã code" class="form-control"  type="text">
                          </div>
                          <div class="form-group">
                            <input id="u_password" name="u_password" placeholder="Nhập mật khẩu mới" class="form-control"  type="password">
                          </div>
                          <div class="form-group">
                            <input id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu" class="form-control"  type="password">
                          </div>
                        </div>
                        <p id='response' class="hidden" style="margin: 20px">đặt lại mật khẩu thành công vui lòng kiêm tra email!</p>
                        <div class="form-group">
                          <input id="submitForm" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Đặt lại mật khẩu" type="submit">
                        </div>
                        <input type="hidden" class="hide" name="token" id="token" value=""> 
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="user-template/js/customPages/jqueryFogotpassword.js"></script>
<%- include("footer2.ejs")  %>