<%- include("header2.ejs")  %>
  <!-- breadcrumbs -->
<div class="breadcrumbs">
  <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
      <li class="">Quên Mật Khẩu</li>
  </ol>
</div>
<!-- //breadcrumbs -->
<div class="text-center">
  <h3>Đặt Lại Mật Khẩu</h3>
  
</div>

<%- include("footer2.ejs")  %>