<!DOCTYPE html>
<html>

<head>
	<title>Bách Hóa Online | Mua Tất Cả Trên Dị Động </title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="user-template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="user-template/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="user-template/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="user-template/css/thuoctinh.css">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="user-template/js/jquery-1.11.1.min.js"></script>
	<script src="user-template/js/thuoctinh.js"></script>

	<!-- //js -->
	<link
		href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%27 rel='
		stylesheet' type='text/css'>
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%27'
		rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="user-template/js/move-top.js"></script>
	<script type="text/javascript" src="user-template/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});

	</script>
	<!-- start-smoth-scrolling -->

</head>

<body>
	<!-- header -->
	<div class="agileits_header">
		<div class="container">

			<div class="row">
				<div class="col-sm-1">
					<img src="user-template/images/logo3.png" height="50px" width="150">
				</div>

				<div class="col-sm-11">
					<div class="w3l_search">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="Tìm Kiếm Sản Phẩm Của Bạn..." required="">
							<button type="submit" class="btn btn-default search" aria-label="Left Align">
								<i class="fa fa-search" aria-hidden="true"> </i>
							</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<div class="agile-login">
						<ul>
							<% if (typeof infoUser != "undefined") {%>
							<li> <a href="javascript:void(0)">Xin Chào <%= infoUser.u_name %> </a> </li>
							<% } else {%>
							<li><a href="registered"> Đăng Ký </a></li>
							<li><a href="login">Đăng Nhập </a></li>
							<% } %>
							<li><a href="contact">Trợ Giúp</a></li>
						</ul>

					</div>
					<div class="product_list_header">
						<button class="w3view-cart" data-toggle="modal" data-target="#cartModal"><i class="fa fa-cart-arrow-down"
								aria-hidden="true"></i>
						</button>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>


	<!-- //header -->
	<!-- navigation -->
	<!--  -->
	<!-- //navigation -->
	<!-- carousel -->
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div id="gw-sidebar" class="gw-sidebar new2019">
					<div class="nano-content">
						<ul class="gw-nav gw-nav-list">
							<li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><i class="fa fa-bars"
											aria-hidden="true"> </i>DANH MỤC SẢN PHẨM</span> </a> </li>

							<li class="init-arrow-down"> <a href="#"> <span class="gw-menu-text ">ĐỒ DÙNG CÁ NHÂN</span> <b
										class="gw-arrow"></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Dầu gọi, dầu xả, dưỡng tóc</a> </li>
									<li> <a href="javascript:void(0)">Sữa dưỡng thể</a> </li>
									<li> <a href="javascript:void(0)">Nước rửa tay</a> </li>
									<li> <a href="javascript:void(0)">Sữa tắm xà phòng</a> </li>
								</ul>
							</li>
							<li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">ĐỒ DÙNG GIA
										ĐÌNH</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Nồi chảo</a> </li>
									<li> <a href="javascript:void(0)">Tô chén ly</a> </li>
									<li> <a href="javascript:void(0)">Đũa muỗn</a> </li>
									<li> <a href="javascript:void(0)">Đồ dùng vệ sinh nhà bếp</a> </li>
									<li> <a href="javascript:void(0)">Nước giặc/Bột giặc nước tẩy</a> </li>
									<li> <a href="javascript:void(0)">Nước rửa chén</a> </li>
								</ul>
							</li>
							<li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">CHO BÉ</span>
									<b></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Sữa tươi</a> </li>
									<li> <a href="javascript:void(0)">Sữa đậu nành</a> </li>
									<li> <a href="javascript:void(0)">Tã bĩm</a> </li>
									<li> <a href="javascript:void(0)">Bột ăn dặm </a> </li>
								</ul>
							</li>
							<li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">BÁNH KẸO</span>
									<b></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Snack</a> </li>
									<li> <a href="javascript:void(0)">Soclola</a> </li>
									<li> <a href="javascript:void(0)">Kẹo các loại</a> </li>
									<li> <a href="javascript:void(0)">Bánh quy</a> </li>
								</ul>
							</li>
							<li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">ĐỒ UỐNG</span>
									<b></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
								</ul>
							<li><a href="contact.html">ƯU ĐÃI</a></li>
							<li><a href="contact.html">BÁN CHẠY NHẤT</a>
							</li>
							</li>
							<li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">ĐỒ UỐNG</span>
									<b></b> </a>
								<ul class="gw-submenu">
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
									<li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
									<li> <a href="javascript:void(0)">Nước ngọt</a> </li>
									<li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
									<li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
									<li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
								</ul>
							<li><a href="contact.html">ƯU ĐÃI</a></li>
							<li><a href="contact.html">BÁN CHẠY NHẤT</a></li>
							<li class="">
								<div class="">
									<form action="#" method="post" style="width: 100%; margin-top: 10px">
										<input class="form-control" type="search" name="Search" placeholder="Tìm Danh Mục Của Bạn..."
											required="">
										<button type="submit" class="btnSearchT" aria-label="Left Align">
											<i class="fa fa-search" aria-hidden="true"> </i>
										</button>
									</form>
								</div>
							</li>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 content-right">
				<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header border-bottom-0">
								<h4 class="modal-title" id="exampleModalLabel">
									Giỏ hàng của bạn
								</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<table class="table table-image">
									<thead>
										<tr>
											<th scope="col"></th>
											<th scope="col">Tên</th>
											<th scope="col">Giá</th>
											<th scope="col">Số Lượng</th>
											<th scope="col">Tổng</th>
											<th scope="col">Tùy Chọn</th>
										</tr>
									</thead>
									<tbody>
										<tr class="fontSiteContent" >
											<td class="w-25">
												<img src="user-template/images/nu3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
											</td>
											<td>6 chai trà xanh C2 hương chanh 360ml</td>
											<td>30.000₫</td>
											<td class="qty"><input type="number" id="input1" value="1"></td>
											<td>30.000₫</td>
											<td>
												<a href="1" class="btn btn-danger btn-sm">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
										<tr class="fontSiteContent" id='sp1'>
											<td class="w-25">
												<img src="user-template/images/nu3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
											</td>
											<td>6 chai trà xanh C2 hương chanh 360ml</td>
											<td>30.000₫</td>
											<td class="qty"><input type="number" id="input1" value="1"></td>
											<td>30.000₫</td>
											<td>
												<a href="sp1" class="btn btn-danger btn-sm">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
										<tr class="fontSiteContent" >
											<td class="w-25">
												<img src="user-template/images/nu3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
											</td>
											<td>6 chai trà xanh C2 hương chanh 360ml</td>
											<td>30.000₫</td>
											<td class="qty"><input type="number" id="input1" value="1"></td>
											<td>30.000₫</td>
											<td>
												<a href="1" class="btn btn-danger btn-sm">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
										<tr class="fontSiteContent" >
											<td class="w-25">
												<img src="user-template/images/nu3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
											</td>
											<td>6 chai trà xanh C2 hương chanh 360ml</td>
											<td>30.000₫</td>
											<td class="qty"><input type="number" id="input1" value="1"></td>
											<td>30.000₫</td>
											<td>
												<a href="1" class="btn btn-danger btn-sm">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="d-flex justify-content-end">
									<h4>Tổng: <span class="price text-success">30.000₫</span></h4>
								</div>
							</div>
							<div class="modal-footer border-top-0 d-flex justify-content-between">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
								<button type="button" class="btn btn-success btnSS">Thanh Toán</button>
							</div>
						</div>
					</div>
				</div>