<%- include("header2.ejs")  %>
<!-- breadcrumbs -->
<div class="breadcrumbs">

  <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
    <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
    <li class="">Đơn hàng của tôi</li>
  </ol>
</div>
<!-- //breadcrumbs -->
<div class="row">

  <div class="col-md-3 quanlyusers ">
    <div class="wp-name-and-avatar-user row flex-nowrap">
      <!-- avatar user  -->
      <div class="avatar-user ">
        <img src="user-template/images/av.png" alt="avatar user" title="avatar-user">
      </div>
      <!-- tên user  -->
      <div class="name-user">
        <span class="s-text7">Tài khoản của</span>
        <br>
        <span class="name">Minh Thao </span>
      </div>
    </div>
    <div class="tab-menu nav" role="tablist" id="tablist">


      <a href="username" class=" ac  || " role="tab">
        <i class="fa fa-user " aria-hidden="true"></i>
        Thông tin tài khoản
      </a>

      <a href="history" class=" ac active || " role="tab">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        Đơn hàng của tôi
      </a>


      <a href="/">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Đăng xuất
      </a>
    </div>

  </div>

  <div class="col-md-9 ">
    <h3>Đơn hàng của tôi</h3>
    <div class="orderhistory">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Ngày mua </th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái đơn hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="user-template/js/customPages/jqueryactive.js"></script>
<%- include("footer2.ejs")  %>