
<!DOCTYPE html>
<html>
<head>
<title>Bách Hóa Online | Mua Tất Cả Trên Dị Động </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="user-template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="user-template/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="user-template/css/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="user-template/css/thuoctinh.css">
<!-- //font-awesome icons -->
<!-- js -->
<script src="user-template/js/jquery-1.11.1.min.js"></script>
<script src="user-template/js/thuoctinh.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%27 rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%27' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="user-template/js/move-top.js"></script>
<script type="text/javascript" src="user-template/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
	
</script>
<!-- start-smoth-scrolling -->

</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<img src="user-template/images/logo3.png" >
				</div>
			
			<div class="col-sm-11">
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Tìm Kiếm Sản Phẩm Của Bạn..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			<div class="agile-login">
				<ul>
					<li><a href="registered.html"> Đăng Ký	 </a></li>
					<li><a href="login.html">Đăng Nhập </a></li>
					<li><a href="contact.html">Trợ Giúp</a></li>
					
				</ul>
				
			</div>
			<div class="product_list_header">  
					<form action="#" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>  
			</div>
			<div class="clearfix"> </div>
		</div>
			</div>
		</div>
	</div>

	
<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			</div> 
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav">
				<li class="active"><a href="index.html" class="act">TRANG CHỦ </a></li>	
									<!-- Mega Menu -->
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ DÙNG CÁ NHÂN<b class="caret"></b></a>
				<ul class="dropdown-menu multi-column columns-3">
				<div class="row">
					<div class="multi-gd-img">
						<ul class="multi-column-dropdown">
																
						<li><a href="groceries.html">Dầu gọi,dầu xả,dưỡng tóc</a></li>
						<li><a href="groceries.html">Sữa dưỡng thể</a></li>
						<li><a href="groceries.html">Nước rửa tay</a></li>
						<li><a href="groceries.html">Sữa tắm xà phòng</a></li>
								
						
						</ul>
					</div>	
												
				</div>
				</ul>
				</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ DÙNG GIA ĐÌNH<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
					
							<li><a href="household.html">Nồi,chảo </a></li>
							<li><a href="household.html">Tô chén ly</a></li>
							<li><a href="household.html">Đũa muỗn</a></li>
							<li><a href="household.html">Đồ dùn vệ sinh nhà bếp</a></li>
							<li><a href="household.html"> Nước giặt/Bột giặt nước tẩy </a></li>
							<li><a href="household.html">Nước rửa chén</a></li>
							</ul>
							</div>
												
												
							</div>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">CHO BÉ<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
						
							<li><a href="personalcare.html">Sữa tươi</a></li>
							<li><a href="personalcare.html">Sữa đậu nành</a></li>
							<li><a href="personalcare.html">Tả bĩm </a></li>
							<li><a href="personalcare.html">Bột ăn dặm </a></li>
							
							</ul>
							</div>
												
							</div>
							</ul>
							</li>

							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">BÁNH KẸO<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
														
							<li><a href="packagedfoods.html">Snack</a></li>
							<li><a href="packagedfoods.html">Socola</a></li>
							<li><a href="packagedfoods.html">Kẹo các loại</a></li>
							<li><a href="packagedfoods.html">Bánh quy</a></li>
							
							</ul>
							</div>
												
											
							</div>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ UỐNG<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
							
							<li><a href="beverages.html">Bia nước có cồn</a></li>
							<li><a href="beverages.html">Nước ngọt</a></li>
							<li><a href="beverages.html">Nước suối nước khoán</a></li>
							<li><a href="beverages.html">Nước ép trái cây</a></li>
							<li><a href="beverages.html"> Sữa trái cây </a></li>
							
							</ul>
							</div>
							
						</div>
							</ul>
							</li>
									
						<li><a href="contact.html">LIÊN HỆ</a></li>
					</ul>
					</div>
				</nav>
			</div>
		</div>
	<!-- //navigation -->
		<!-- carousel -->
		<div class="container">
			<div class="row">
				<div class="col-md-3">
		<div class="gw-sidebar" style="margin-top: 170px; height: 2500px;">
  		<div id="gw-sidebar" class="gw-sidebar">
   		 <div class="nano-content">
      		<ul class="gw-nav gw-nav-list">
        		<li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text">DANH MỤC SẢN PHẨM</span> </a> </li>
        		<li class="init-arrow-down"> <a href="#"> <span class="gw-menu-text">ĐỒ DÙNG CÁ NHÂN</span> <b class="gw-arrow"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Dầu gọi, dầu xả, dưỡng tóc</a> </li>
            <li> <a href="javascript:void(0)">Sữa dưỡng thể</a> </li>
            <li> <a href="javascript:void(0)">Nước rửa tay</a> </li>
            <li> <a href="javascript:void(0)">Sữa tắm xà phòng</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">ĐỒ DÙNG GIA ĐÌNH</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Nồi chảo</a> </li>
            <li> <a href="javascript:void(0)">Tô chén ly</a> </li>
            <li> <a href="javascript:void(0)">Đũa muỗn</a> </li>
            <li> <a href="javascript:void(0)">Đồ dùng vệ sinh nhà bếp</a> </li>
            <li> <a href="javascript:void(0)">Nước giặc/Bột giặc nước tẩy</a> </li>
            <li> <a href="javascript:void(0)">Nước rửa chén</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">CHO BÉ</span> <b></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Sữa tươi</a> </li>
            <li> <a href="javascript:void(0)">Sữa đậu nành</a> </li>
            <li> <a href="javascript:void(0)">Tã bĩm</a> </li>
            <li> <a href="javascript:void(0)">Bột ăn dặm </a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">BÁNH KẸO</span> <b></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Snack</a> </li>
            <li> <a href="javascript:void(0)">Soclola</a> </li>
            <li> <a href="javascript:void(0)">Kẹo các loại</a> </li>
            <li> <a href="javascript:void(0)">Bánh quy</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">ĐỒ UỐNG</span> <b></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Bia nước có cồn</a> </li>
            <li> <a href="javascript:void(0)">Nước ngọt</a> </li>
            <li> <a href="javascript:void(0)">Nước suối nước khoán</a> </li>
            <li> <a href="javascript:void(0)">Nước ép trái cây</a> </li>
            <li> <a href="javascript:void(0)">Sữa trái cây</a> </li>
          </ul>
          <li><a href="contact.html">ƯU ĐÃI</a></li>
          <li><a href="contact.html">BÁN CHẠY NHẤT</a>
          </li>
        </li>

      </ul>
    </div>
  </div>
</div>
</div>
	<div class="col-md-9">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <a href="beverages.html"> <img class="first-slide" src="user-template/images/sl1.jpg" alt="First slide"style="width: 100%"></a>
       
        </div>
        <div class="item">
         <a href="personalcare.html"> <img class="second-slide " src="user-template/images/sl2.jpg" alt="Second slide"style="width: 100%"></a>
         
        </div>
        <div class="item">
          <a href="household.html"><img class="third-slide " src="user-template/images/sl3.jpg" alt="Third slide"style="width: 100%"></a>
          
        </div>
      </div>
    
    </div>
    </div>
    <!-- het carosoule -->
    			<div class="col-md-8 products-right">
    			<!-- 	Đồ uống các loại -->
    				<h3 style="margin-top: 40px; border-left:6px solid #fe9126">ĐỒ UỐNG CÁC LOẠI</h3>
				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/nu3.jpg" style="width: 100%"></a>		
												<p>6 chai trà xanh C2 hương chanh 360ml</p>
												<h4>30.000₫  <span>39.000₫ </span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/nu4.jpg" style="width: 100%"></a>		
												<p>Lốc 6 lon nước ngọt Pepsi Cola 330ml</p>
												<h4>49.000₫ <span>55.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="basmati rise">
														<input type="hidden" name="amount" value="30.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img src="user-template/images/nu1.jpg" alt=" " class="img-responsive"></a>
												<p>Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</p>
												<h4>30.000₫ <span>38.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
				<!-- Hết đồ uống các loại -->
				<!-- Đồ dùng gia đình -->
				<hr>
			<h3 style="margin-top: 25px; border-left:6px solid #fe9126">ĐỒ DÙNG GIA ĐÌNH</h3>

		<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/ddgd1.jpg" style="width: 100%"></a>		
												<p>Nồi inox 430 3 đáy 30cm Fivestar N30-3D</p>
												<h4>750.000₫ <span>800.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/ddgd2.jpg" style="width: 100%"></a>		
												<p>Nồi inox 430 3 đáy 28cm Fivestar N28-3QB</p>
												<h4>720.000₫ <span>780.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="basmati rise">
														<input type="hidden" name="amount" value="30.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img src="user-template/images/ddgd3.jpg" alt=" " class="img-responsive"></a>
													<p>Bộ nồi xửng inox 430 3 đáy 24cm Sunhouse </p>
												<h4>690.000₫<span>700.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
				<!-- Hết đồ dùng cá gia đình -->
				<!-- Cho bé -->
				<hr>
				<h3 style="margin-top: 25px; border-left:6px solid #fe9126">CHO BÉ</h3>
				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/scb1.png" style="width: 100%"></a>		
												<p> 6 chai sữa tươi nguyên kem không đường Le Saint Polois 1 lít</p>
												<h4>180.000₫<span>240.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/scb2.png" style="width: 100%"></a>		
												<p>Sữa tươi nguyên kem không đường Le Saint Polois chai 1 lít</p>
												<h4>30.000₫<span>40.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="basmati rise">
														<input type="hidden" name="amount" value="30.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img src="user-template/images/scb3.png" alt=" " class="img-responsive"></a>
												<p>Lốc 3 hộp sữa tươi nguyên kem không đường Inex 200ml</p>
												<h4>26.000₫  <span>33.000₫ </span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
    			</div>
    		<!-- hết cho bé -->
    		<!-- Đồ dùng cá nhân -->
    			<hr>
    			<h3 style="margin-top: 25px; border-left:6px solid #fe9126">ĐỒ DÙNG CÁ NHÂN</h3>
    			<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/cscn1.jpg" style="width: 100%"></a>		
												<p>Dầu xả bảo vệ màu tóc nhuộm L'Oréal Elseve Color Protection 325ml</p>
												<h4>85.000₫<span>108.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/cscn2.jpg" style="width: 100%"></a>		
												<p>Dầu xả ngăn gãy rụng tóc L'Oréal Elseve Fall Resit 325ml</p>
												<h4>85.000₫ <span>108.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="basmati rise">
														<input type="hidden" name="amount" value="30.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img src="user-template/images/cscn3.jpg" alt=" " class="img-responsive"></a>
												<p>Dầu xả dưỡng tóc L'Oréal Elseve tinh dầu hoa 325ml</p>
												<h4>85.000₫ <span>108.000₫ </span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
    		<!-- 	Hết đồ dùng cá nhân -->
    		<!-- Bánh kẹo -->
    		<hr>
    		<h3 style="margin-top: 25px; border-left:6px solid #fe9126"> BÁNH KẸO</h3>
    		<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/bk1.jpg" style="width: 100%"></a>		
												<p>Snack khoai tây vị truyền thống Peke Potato Chips lon 80g</p>
												<h4>19.000₫ <span>29.000₫ </span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img title=" " alt=" " src="user-template/images/bk2.jpg" style="width: 100%"></a>		
												<p>Snack khoai tây vị rong biển Peke Potato Chips lon 80g</p>
												<h4>19.000₫<span>20.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="basmati rise">
														<input type="hidden" name="amount" value="30.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="user-template/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="single.html"><img src="user-template/images/bk3.jpg" alt=" " class="img-responsive"></a>
												<p>Snack khoai tây vị trứng muối Peke Potato Chips lon 80g</p>
												<h4>19.000₫ <span>20.000₫</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Chọn Mua" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
    		<!-- Hết bánh kẹo -->
    			

    			
		</div>
	</div>	
</div>

		
		  
		

  
			
	
	<!-- đồ dùng gia đình -->
	
	<!-- hết đồ dùng gia đình -->
	<!-- Đồ dùng cho bé	 -->
	
	<!--banner-bottom-->
				<div class="ban-bottom-w3l">
					<div class="container">
					<div class="col-md-6 ban-bottom3">
							<div class="ban-top">
								<img src="user-template/images/p2.jpg" class="img-responsive" alt=""/>
								
							</div>
							<div class="ban-img">
								<div class=" ban-bottom1">
									<div class="ban-top">
										<img src="user-template/images/p3.jpg" class="img-responsive" alt=""/>
										
									</div>
								</div>
								<div class="ban-bottom2">
									<div class="ban-top">
										<img src="user-template/images/p4.jpg" class="img-responsive" alt=""/>
										
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 ban-bottom">
							<div class="ban-top">
								<img src="user-template/images/111.jpg" class="img-responsive" alt=""/>
								
								
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
<!--banner-bottom-->
	
	<div class="container">
		<h3 style=" border-left: 6px solid #3b9e3e;
  background-color: lightgrey;margin-bottom:10px;text-transform: uppercase  ">Mẹo Hay</h3>
		<div class="row">
			<div class="col-sm-5">
				<iframe width="460" height="315" src="https://www.youtube.com/embed/gWkEMHshFgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-sm-7">
				<article style="width: 120px;height: 130px;float: left;margin-right: 15px;" >
					<img src="user-template/images/hd1.jpg" style="width: 100%">
					<a href="">Cà phê espresso hay macchiato khác nhau như thế nào?</a>
				
				</article>
				<article style="width: 120px;height: 130px;float: left;margin-right: 15px;" >
					<img src="user-template/images/hd2.jpg" style="width: 100%">
					<a href="">Những lưu ý khi tẩy trang bằng dầu oliu và dầu dừa để không bị mụn</a>
				
				</article>
				<article style="width: 120px;height: 130px;float: left;margin-right: 15px;" >
					<img src="user-template/images/hd3.jpg" style="width: 100%" style="float: left;">
					<a href="" style="float: left;">Cách làm bánh xếp Hàn Quốc nhân tôm hấp dẫn siêu đẹp mắt   </a>
				
				</article>
				<article style="width: 120px;height: 130px;float: left;margin-right: 15px;" >
					<img src="user-template/images/hd4.jpg" style="width: 100%">
					<a href="">Mực luộc lá lốt món ăn độc lạ nhưng cực kỳ ngon cơm</a>
				
				</article>
		</div>
	</div>
	</div>

	
<!-- //new -->
<!-- //footer -->
<div class="footer">
  <div class="container">
    <div class="col-sm-12">
      <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">

        <h3>Liên Hệ</h3>
        
        <ul class="address">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>UIT <span>TP.Hồ Chí Minh</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">uit@gm.uit.edu.vn</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0123456789</li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Thông Tin</h3>
        <ul class="info"> 
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">Về chúng tôi </a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.html">Liên hệ với chúng tôi</a></li>
          
        </ul>
      </div>            
      <div class="col-md-3 w3_footer_grid">
        <h3>Phân Loại</h3>
        <ul class="info"> 
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Đồ dùng cá nhân</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Đồ dùng gia đình </a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Cho bé</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Bánh kẹo</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">ĐỒ uống</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Cá Nhân</h3>
        <ul class="info"> 
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Cửa hàng </a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="checkout.html">Giỏ hàng của bạn </a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="login.html">Đăng nhập </a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="registered.html">Đăng ký </a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    </div>
    
  </div>
  
  
  
</div>	
<div class="footer-botm">
    <div class="container">
      <div class="w3layouts-foot">
        <ul>
          <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="payment-w3ls">	
        <img src="user-template/images/card.png" alt=" " class="img-responsive">
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="user-template/js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="user-template/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="user-template/js/skdslider.min.js"></script>
<link href="user-template/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 
</body>
</html>