<!DOCTYPE html>
<html>
<head>
<title>Đăng Nhập</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="user-template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<link href="user-template/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="user-template/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="user-template/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%27 rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%27' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="user-template/css/thuoctinh.css">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="user-template/js/move-top.js"></script>
<script type="text/javascript" src="user-template/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<img src="user-template/images/logo3.png" >
				</div>
			
			<div class="col-sm-11">
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Tìm Kiếm Sản Phẩm Của Bạn..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			<div class="agile-login">
				<ul>
					<li><a href="registered.html"> Đăng Ký	 </a></li>
					<li><a href="login.html">Đăng Nhập </a></li>
					<li><a href="contact.html">Trợ Giúp</a></li>
					
				</ul>
				
			</div>
			<div class="product_list_header">  
					<form action="#" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>  
			</div>
			<div class="clearfix"> </div>
		</div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			</div> 
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav">
				<li class="active"><a href="index.html" class="act">TRANG CHỦ </a></li>	
									<!-- Mega Menu -->
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ DÙNG CÁ NHÂN<b class="caret"></b></a>
				<ul class="dropdown-menu multi-column columns-3">
				<div class="row">
					<div class="multi-gd-img">
						<ul class="multi-column-dropdown">
																
						<li><a href="groceries.html">Dầu gọi,dầu xả,dưỡng tóc</a></li>
						<li><a href="groceries.html">Sữa dưỡng thể</a></li>
						<li><a href="groceries.html">Nước rửa tay</a></li>
						<li><a href="groceries.html">Sữa tắm xà phòng</a></li>
								
						
						</ul>
					</div>	
												
				</div>
				</ul>
				</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ DÙNG GIA ĐÌNH<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
					
							<li><a href="household.html">Nồi,chảo </a></li>
							<li><a href="household.html">Tô chén ly</a></li>
							<li><a href="household.html">Đũa muỗn</a></li>
							<li><a href="household.html">Đồ dùn vệ sinh nhà bếp</a></li>
							<li><a href="household.html"> Nước giặt/Bột giặt nước tẩy </a></li>
							<li><a href="household.html">Nước rửa chén</a></li>
							</ul>
							</div>
												
												
							</div>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">CHO BÉ<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
						
							<li><a href="personalcare.html">Sữa tươi</a></li>
							<li><a href="personalcare.html">Sữa đậu nành</a></li>
							<li><a href="personalcare.html">Tả bĩm </a></li>
							<li><a href="personalcare.html">Bột ăn dặm </a></li>
							
							</ul>
							</div>
												
							</div>
							</ul>
							</li>

							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">BÁNH KẸO<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
														
							<li><a href="packagedfoods.html">Snack</a></li>
							<li><a href="packagedfoods.html">Socola</a></li>
							<li><a href="packagedfoods.html">Kẹo các loại</a></li>
							<li><a href="packagedfoods.html">Bánh quy</a></li>
							
							</ul>
							</div>
												
											
							</div>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">ĐỒ UỐNG<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
							<div class="row">
							<div class="multi-gd-img">
							<ul class="multi-column-dropdown">
							
							<li><a href="beverages.html">Bia nước có cồn</a></li>
							<li><a href="beverages.html">Nước ngọt</a></li>
							<li><a href="beverages.html">Nước suối nước khoán</a></li>
							<li><a href="beverages.html">Nước ép trái cây</a></li>
							<li><a href="beverages.html"> Sữa trái cây </a></li>
							
							</ul>
							</div>
							
						</div>
							</ul>
							</li>
									
						<li><a href="contact.html">LIÊN HỆ</a></li>
					</ul>
					</div>
				</nav>
			</div>
		</div>
		
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ </a></li>
				<li class="active">Đăng Nhập</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h2>Đăng Nhập</h2>
		
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form>
					<input type="email" placeholder="Email/Tên đăng nhập" required=" " >
					<input type="password" placeholder="Mật Khẩu" required=" " >
					<div class="forgot">
						<a href="#">Quên mật khẩu ?</a>
					</div>
					<div class="col-sm-12">
						<input type="submit" value="Login">
					</div>
					
				</form>
				<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
           </a>
				</div>
        	
        <div class="col-sm-6">
        	<a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        </div>
        <div class="col-sm-6">
        	<a href="#" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
        </div>
        
      </div>
		</div>
				
			</div>
		
			<p><a href="registered.html">Đăng ký</a> (Hoặc) Trở về<a href="index.html">Trang chủ<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
		</div>
	</div>
<!-- //login -->
<!-- //footer -->
<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Liên Hệ</h3>
					
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>UIT <span>TP.Hồ Chí Minh</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">uit@gm.uit.edu.vn</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0123456789</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Thông Tin</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">Về chúng tôi </a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.html">Liên hệ với chúng tôi</a></li>
						
					</ul>
				</div>            
				<div class="col-md-3 w3_footer_grid">
					<h3>Phân Loại</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Đồ dùng cá nhân</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Đồ dùng Gia Đình</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Cho bé</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Bánh kẹo</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Đồ uống</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Cá Nhân</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Cửa hàng </a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="checkout.html">Giỏ hàng của bạn </a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="login.html">Đăng nhập </a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="registered.html">Đăng ký </a></li>
					</ul>
					
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="images/card.png" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 

</body>
</html>