<%- include("header2.ejs")  %>
<!-- //navigation -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
		<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ </a></li>
		<li class="active">Đăng Nhập</li>
	</ol>
</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
	<h2>Đăng Nhập</h2>
	<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
		<% if (errors.length > 0) {%>
		<div class="error" style="color:red"><%= errors[0] %></div>
		<% } %>
		<form action="auth/local" method="post">
			<input type="email" placeholder="Email đăng ký" name="u_email" required>
			<input id='password' type="password" placeholder="Mật khẩu" name="u_localPassword" required>
			<label style="color:#999 !important;font-size: 14px;font-weight: 500;" class="checkbox"><input
					type="checkbox" name="checkbox"><i> </i>Hiển thị mật khẩu</label>
			<div class="forgot">
				<a href="#">Quên mật khẩu ?</a>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<input type="submit" value="Login">
				</div>
				<div class="col-sm-12">
					<div class="col-sm-6 btnSocial">
						<a href="auth/facebook" class="btn btn-primary facebook" style="font-size:11px ;"> <i
								class="fa fa-facebook fa-fw"></i>Login with Facebook</a>
					</div>
					<div class="col-sm-6 btnSocial">
						<a href="auth/google" class="btn btn-danger google" style="font-size:11px ;margin-left: 12px;"> <i
								class="fa fa-google fa-fw"></i>Login with Google</a>
						<!-- <a href= class="google btn">
							<i class="fa fa-google fa-fw"></i>Login with Google+
						</a> -->
					</div>

				</div>
			</div>
		</form>


	</div>

	<p><a href="register">Đăng ký</a> (Hoặc) Trở về<a href="/">Trang chủ<span
				class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>

</div>
<!-- //login -->

<%- include("footer2.ejs")  %>