<%- include("header.ejs")  %>
<div class="breadcrumbs">
	<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
		<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ </a></li>
		<li class="active">Đăng Ký</li>
	</ol>
</div>
<!-- register -->
<div class="register">
	
		<h2>Tạo Tài Khoản</h2>
		<div class="login-form-grids">
			<h5>Thông Tin Cá Nhân</h5>
			<form action="#" method="post">
				<input type="text" placeholder="Họ..." required=" " >
				<input type="text" placeholder="Tên..." required=" " >
			</form>
			<div class="register-check-box">
				<div class="check">
					<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Đăng Ký Thông Tin</label>
				</div>
			</div>
			<h6>Thông Tin Đăng Nhập</h6>
				<form action="#" method="post">
				<input type="email" placeholder="Địa Chỉ Email" required=" " >
				<input type="password" placeholder="Mật Khẩu" required=" " >
				<input type="password" placeholder="Nhập Lại Mật Khẩu" required=" " >
				<div class="register-check-box">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Tôi Chấp Nhập Các Điều Khoản Và Điều Kiện</label>
					</div>
				</div>
				<input type="submit" value="Đăng Ký Ngay">
			</form>
		</div>
		<div class="register-home">
			<a href="index.html">Trang Chủ</a>
		</div>
	</div>

<!-- //register -->


<%- include("footer.ejs")  %>