<%- include("header2.ejs")  %>
<div class="breadcrumbs">
	<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
		<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ </a></li>
		<li class="active">Đăng Ký</li>
	</ol>
</div>
<!-- register -->
<div class="register">

	<h2>Tạo Tài Khoản</h2>
	<div class="login-form-grids">
		<h5>Thông Tin Cá Nhân</h5>
		<form id="register-form" action="#" method="post">
			<input type="text" placeholder="Họ Và Tên..." name="u_name" required>
			<input type="text" placeholder="Số Điện Thoại..." name="u_phoneNumber" required>
			<h6>Thông Tin Đăng Nhập</h6>
			<input type="text" placeholder="Địa Chỉ email" name="u_email" required>
			<input id="u_password" type="password" placeholder="Mật Khẩu" name="u_password" required>
			<input type="password" placeholder="Nhập Lại Mật Khẩu" name="confirmPassword" required>
			<input id="submit" type="submit" name="submit" value="Đăng Ký Ngay">
			<div id="notifications" style="width: 100%; margin-top:10px"></div>
		</form>
	</div>
	<div class="register-home">
		<a class="" href="login">Đăng Nhập</a>
		<a class="" href="/">Trang Chủ</a>
	</div>
</div>
<!-- custom pages -->
<script type="text/javascript" src="admin_template/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="	user-template/js/customPages/jqueryRegister.js"></script>
<!-- end custom pages -->

<!-- //register -->


<%- include("footer2.ejs")  %>