<%- include("header.ejs")  %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- breadcrumbs -->
<!-- <div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="">Chi tiết sản phẩm</li>
        </ol>
    </div>
</div> -->
<div class="breadcrumbs">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
        <li>Chi tiết sản phẩm</li>
    </ol>
</div>
<!-- //breadcrumbs -->
<div class="card" style="background-color:#fff;">
    <!-- <div class="container"> -->
        <div class="row">
            <aside class="col-sm-5 border-right">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="user-template/images/nu3.jpg" style="width:100%">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="user-template/images/nu1.jpg" style="width:100%">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="user-template/images/nu4.jpg" style="width:100%">
                  </div>
                    
                  <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="user-template/images/nu6.jpg" style="width:100%">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="user-template/images/nu6.jpg" style="width:100%">
                  </div>
                    
                  <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="user-template/images/nu6.jpg" style="width:100%">
                  </div>
                    
                  <a class="prev" onclick="plusSlides(-1)">❮</a>
                  <a class="next" onclick="plusSlides(1)">❯</a>
                
                  <div class="caption-container">
                    <p id="caption"></p>
                  </div>
                
                  <div class="row" style="margin-left: 2px;">
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu3.jpg" style="width:100%" onclick="currentSlide(1)" >
                    </div>
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu1.jpg" style="width:100%" onclick="currentSlide(2)" >
                    </div>
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu4.jpg" style="width:100%" onclick="currentSlide(3)" >
                    </div>
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu6.jpg" style="width:100%" onclick="currentSlide(4)" >
                    </div>
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu6.jpg" style="width:100%" onclick="currentSlide(5)" >
                    </div>    
                    <div class="column1">
                      <img class="demo cursor" src="user-template/images/nu6.jpg" style="width:100%" onclick="currentSlide(6)" >
                    </div>
                  </div>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</h3>

                    <p class="price-detail-wrap">
                    <div class="boxprice">
                        <strong>30.000đ</strong>
                        <span class="strike">38.000đ</span>
                        <label>-21%</label>
                    </div>
                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <ul class="thongtinsanpham">
                            <li><span>Thương hiệu</span>
                                <div>Pesi Mỹ</div>
                            </li>
                            <li><span>Thể tích/Khối lượng...</span>
                                <div>1,5 lít</div>
                            </li>
                            <li><span>Sản Xuất tại</span>
                                <div>Việt Nam</div>
                            </li>
                            <li><span>Mô tả</span>
                                <p>Ngon hơn khi uống lạnh Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Sunt praesentium repellendus porro, eius reprehenderit fugiat quod fuga laudantium nisi eaque nesciunt 
                                    facere architecto quis minima dolor animi quia ut fugit!</p>
                            </li>

                        </ul>
                    </dl>


                    
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="">
                                    <p style="font-size:15px ; font-family: 'Raleway', sans-serif;color:#333;">Số lượng
                                    </p>
                                </label>
                                <input type="number" class="form-control" id="sl" placeholder="" style="width:70px;">
                            </div>
                        </div> <!-- col.// -->
                        <div class="col-sm-7">
                            <dl class="param param-inline">
                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                <i class="fa fa-star gray-star" aria-hidden="true"></i>
                            </dl> <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                   
                    <button style="margin-bottom: 10px;width:98%;" data-id="abcxyz" class="btn btn-lg btn-primary text-uppercase btnAddCart"> Chọn mua</button>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div>
    <!-- </div> -->
    <!-- row.// -->
</div> <!-- card.// -->


<!-- Đánh giá người dùng -->
<div class="card">
    <div class="danhgianguoidung">
        <span class="heading">Đánh Giá</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1★ Trong 254 đánh giá.</p>
        <hr style="border:3px solid #f1f1f1">

        <div class="row">
            <div class="col-sm-8">
                <div class="side">
                    <div>5★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>150</div>
                </div>
                <div class="side">
                    <div>4★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>63</div>
                </div>
                <div class="side">
                    <div>3★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>15</div>
                </div>
                <div class="side">
                    <div>2★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>6</div>
                </div>
                <div class="side">
                    <div>1★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>20</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap snippets">
        <div class=" col-sm-10">
            <div class="comment-wrapper">
                <div class="panel panel-info" style="width: 121%;">
                    <div class="panel-heading">
                        Đánh Giá Người Dùng
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right">Gửi Đánh Giá</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Vân Nhi </strong>
                                    <p style="color: black;">
                                        mình ghiền pepsi lắm luôn, uống hoài, đang sợ bị tiểu đường.huhu
                                    </p>
                                    <a style="color:#588bcd; display: inline-block;" href="#">1 Trả lời</a>
                                    <span class="com-dot"> • </span>
                                    <a style="color:#588bcd; display: inline-block;" href="#"><i class="fa fa-thumbs-up"></i>0 Thích</a>
                                </div>
                            </li>
                            <li class="media">
                                <!-- <a href="#" class="pull-left">
                                    <img src="user-template/images/cm2.jpg" alt="" class="img-circle">
                                </a> -->
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Cẩm Tiên</strong>
                                    <p style="color: black;">
                                        mình thấy vị pepsi với coca nào rất giống nhau, đều ngon cả
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <!-- <a href="#" class="pull-left">
                                    <img src="user-template/images/cm3.jpg" alt="" class="img-circle">
                                </a> -->
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Lê Phương Thảo</strong>
                                    <p style="color: black;">
                                        Sao cửa hàng k giao hàng ở long an vậy buồn ghê
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Hết đánh giá người dùng -->


<!-- new -->

<!-- <div class="agile_top_brands_grids">
    <h3 style="    margin-left: 348px;
    margin-bottom: 17px;">CÁC SẢN PHẨM LIÊN QUAN</h3>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="user-template/images/nu3.jpg"
                                        style="width: 100%"></a>
                                <p>6 chai trà xanh C2 hương chanh 360ml</p>
                                <h4>30.000₫ <span>39.000₫ </span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                        <input type="hidden" name="amount" value="35.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="user-template/images/nu4.jpg"
                                        style="width: 100%"></a>
                                <p>Lốc 6 lon nước ngọt Pepsi Cola 330ml</p>
                                <h4>49.000₫ <span>55.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="basmati rise">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img src="user-template/images/nu1.jpg" alt=" "
                                        class="img-responsive"></a>
                                <p>Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</p>
                                <h4>30.000₫ <span>38.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                                        <input type="hidden" name="amount" value="80.00">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img src="user-template/images/nu1.jpg" alt=" "
                                        class="img-responsive"></a>
                                <p>Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</p>
                                <h4>30.000₫ <span>38.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                                        <input type="hidden" name="amount" value="80.00">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="user-template/images/nu3.jpg"
                                        style="width: 100%"></a>
                                <p>6 chai trà xanh C2 hương chanh 360ml</p>
                                <h4>30.000₫ <span>39.000₫ </span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                        <input type="hidden" name="amount" value="35.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="user-template/images/nu4.jpg"
                                        style="width: 100%"></a>
                                <p>Lốc 6 lon nước ngọt Pepsi Cola 330ml</p>
                                <h4>49.000₫ <span>55.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="basmati rise">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img src="user-template/images/nu1.jpg" alt=" "
                                        class="img-responsive"></a>
                                <p>Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</p>
                                <h4>30.000₫ <span>38.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                                        <input type="hidden" name="amount" value="80.00">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid_pos">
                    <img src="user-template/images/offer.png" alt=" " class="img-responsive">
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img src="user-template/images/nu1.jpg" alt=" "
                                        class="img-responsive"></a>
                                <p>Combo 2 chai nước ngọt Pepsi Cola 1.5 lít</p>
                                <h4>30.000₫ <span>38.000₫</span></h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                                        <input type="hidden" name="amount" value="80.00">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Chọn Mua" class="button">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-12 top_brand_left text-center">
            <div class="view-more">xem thêm 8 sản phẩm nữa <i class="fa fa-chevron-down view-more"></i></div>
        </div>
    </div>
</div> -->
<h3 style="margin-top: 40px; border-left:6px solid #fe9126">Các Sản Phẩm Liên Quan</h3>
<div class="agile_top_brands_grids">
	<div id="productsHot">
		<div class="col-md-3 top_brand_left">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid">
					<!-- <div class="agile_top_brand_left_grid_pos">
						<img src="/c_scale,w_40/BachHoaOnline/icon/hot_fire" 
						alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
					</div> -->
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block text-center">
								<div class="snipcart-thumb">
									<a href=""><img title=" " alt=" "
											src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/product/1593334326053/1593334326050-864" style="width: 100%"></a>
									<div style="min-height: 70px;">
										<p>Sữa tắm dưỡng thể có hạt Dove dưỡng ẩm sáng mịn 896ml...</p>
									</div>
									<div style="min-height: 48px;">
										<span data='' class="priceSp">55555 </span>
										<label class="discount" style="margin-left: 6px;"> -10%</label>
										<h4>256566</h4>
									</div>
								</div>
								<div class="snipcart-details top_brand_home_details">
									<button data-id="" class="btnAddCart"> Chọn mua</button>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
        </div>
        <div class="col-md-3 top_brand_left">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid">
					<!-- <div class="agile_top_brand_left_grid_pos">
						<img src="/c_scale,w_40/BachHoaOnline/icon/hot_fire" 
						alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
					</div> -->
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block text-center">
								<div class="snipcart-thumb">
									<a href=""><img title=" " alt=" "
											src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/product/1593334326053/1593334326050-864" style="width: 100%"></a>
									<div style="min-height: 70px;">
										<p>Sữa tắm dưỡng thể có hạt Dove dưỡng ẩm sáng mịn 896ml...</p>
									</div>
									<div style="min-height: 48px;">
										<span data='' class="priceSp">55555 </span>
										<label class="discount" style="margin-left: 6px;"> -10%</label>
										<h4>256566</h4>
									</div>
								</div>
								<div class="snipcart-details top_brand_home_details">
									<button data-id="" class="btnAddCart"> Chọn mua</button>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-3 top_brand_left">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid">
					<!-- <div class="agile_top_brand_left_grid_pos">
						<img src="/c_scale,w_40/BachHoaOnline/icon/hot_fire" 
						alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
					</div> -->
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block text-center">
								<div class="snipcart-thumb">
									<a href=""><img title=" " alt=" "
											src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/product/1593334326053/1593334326050-864" style="width: 100%"></a>
									<div style="min-height: 70px;">
										<p>Sữa tắm dưỡng thể có hạt Dove dưỡng ẩm sáng mịn 896ml...</p>
									</div>
									<div style="min-height: 48px;">
										<span data='' class="priceSp">55555 </span>
										<label class="discount" style="margin-left: 6px;"> -10%</label>
										<h4>256566</h4>
									</div>
								</div>
								<div class="snipcart-details top_brand_home_details">
									<button data-id="" class="btnAddCart"> Chọn mua</button>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-3 top_brand_left">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid">
					<!-- <div class="agile_top_brand_left_grid_pos">
						<img src="/c_scale,w_40/BachHoaOnline/icon/hot_fire" 
						alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
					</div> -->
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block text-center">
								<div class="snipcart-thumb">
									<a href=""><img title=" " alt=" "
											src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/product/1593334326053/1593334326050-864" style="width: 100%"></a>
									<div style="min-height: 70px;">
										<p>Sữa tắm dưỡng thể có hạt Dove dưỡng ẩm sáng mịn 896ml...</p>
									</div>
									<div style="min-height: 48px;">
										<span data='' class="priceSp">55555 </span>
										<label class="discount" style="margin-left: 6px;"> -10%</label>
										<h4>256566</h4>
									</div>
								</div>
								<div class="snipcart-details top_brand_home_details">
									<button data-id="" class="btnAddCart"> Chọn mua</button>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-3 top_brand_left">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid">
					<!-- <div class="agile_top_brand_left_grid_pos">
						<img src="/c_scale,w_40/BachHoaOnline/icon/hot_fire" 
						alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
					</div> -->
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block text-center">
								<div class="snipcart-thumb">
									<a href=""><img title=" " alt=" "
											src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/product/1593334326053/1593334326050-864" style="width: 100%"></a>
									<div style="min-height: 70px;">
										<p>Sữa tắm dưỡng thể có hạt Dove dưỡng ẩm sáng mịn 896ml...</p>
									</div>
									<div style="min-height: 48px;">
										<span data='' class="priceSp">55555 </span>
										<label class="discount" style="margin-left: 6px;"> -10%</label>
										<h4>256566</h4>
									</div>
								</div>
								<div class="snipcart-details top_brand_home_details">
									<button data-id="" class="btnAddCart"> Chọn mua</button>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<div class="col-md-12 top_brand_left text-center">
		<div class="view-more">
			<a class="addMorePrHot" data-count="8" href="addOnHotItem/count/">xem thêm
				<i class="fa fa-chevron-down view-more"></i>
			</a>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- Bình luận người dùng -->

<!-- <h4 style="color: rgb(255, 0, 21);">BÌNH LUẬN KHÁCH HÀNG</h4>
<div class="col-sm-12">
    <form id="frmAddComment" class="form formarating">
        <div class="cmtinfo">
            <div class="js-float-label-wrapper">
                <label class="text-content"> </label>
                <textarea name="txtContent" rows="4" maxlength="1000" placeholder="Mời Bạn bình luận hoặc đặt câu hỏi"
                    aria-label="Mời bạn bình luận hoặc đặt câu hỏi...."></textarea>
            </div>
            <div class="info">
                <span class="errornoti"></span>
                <div class="verify hide">
                    <div>
                        <span class="cmt-verify"></span>
                        <div id="mainCaptcha">
                            <canvas id="captcha" width="90" height="43"></canvas>
                        </div>
                        <div class="js-float-label-wrapper">
                            <label class="cmt-captcha"></label>
                            <input data-rder="captcha" class="inline txtCaptcha" type="tel" name="txtCaptcha"
                                maxlength="5" placeholder="Mã xác nhận (bắt buộc)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="gender">

                        <select class="browser-default custom-select">
                            <option selected>Gới Tính</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            <option value="3">Giới tính khác</option>
                        </select>
                    </div>

                </div>

                <div class="name js-float-label-wrapper">
                    <label class="cmt-name"></label>
                    <input data-rder="name" name="txtFullName" type="text" class="txtFullName" maxlength="50"
                        placeholder="Họ tên (bắt buộc)" aria-label="Họ tên (bắt buộc)">
                </div>
                <div class="phone js-float-label-wrapper">
                    <label class="cmt-phone"></label>
                    <input type="text" class="txtPhone" name="txtPhone" placeholder="Số điện thoại"
                        aria-label="Số điện thoại">
                </div>
                <div class="email js-float-label-wrapper">
                    <label class="cmt-email"></label>
                    <input data-rder="email" name="txtEmail" type="email" class="txtEmail" maxlength="50"
                        placeholder="Email" aria-label="Email"></div>
                <button type="submit" class="submit">GỬI</button>
                <input type="hidden" name="hdObjectId" value="204232"> <input type="hidden" name="hdObjectType"
                    value="2">
                <input type="hidden" name="hdObjectTypeRef" value="0"> <input type="hidden" name="hdUrl"
                    value="/nuoc-ngot/6-chai-tra-chanh-voi-sa-fuze-tea-450ml">
                <input type="hidden" name="hdParentId" value="0"> <input type="hidden" name="hdTypeOf" value="0">
            </div>
        </div>

    </form>
</div> -->




    <!-- <div class="card">
        <hr>
        <div class="card-body">
            <div class="row">

                <div class="col-md-2">
                    <img src="user-template/images/cm2.jpg" class="img img-rounded img-fluid" /
                        style="width: 100%;border-radius: 80px;">
                    <p class="text-secondary text-center">15 phút trước </p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="#"><strong>Vũ Thị Kim Thanh</strong></a>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                    </p>
                    <div class="clearfix"></div>
                    <p>Hôm qua tôi mới mua hàng ở Bách Hóa Online. Tôi xin góp ý như sau: sườn non và cá (trừ cá điêu
                        hồng) thì không có chặt nhỏ sườn và cá thì không làm sạch. Tôi phải mất thời gian để làm điều
                        này. Rau và củ nên để cho KH mua từng bó hoặc tối đa 0,5 kg. Chứ mua 1kg theo chuẩn đề ra thì KH
                        phải dự trữ nhiều (tủ lạnh không đủ chỗ để dự trữ) ăn không kịp để lâu hư và ngán. Vài lời góp ý
                        cùng BHO.</p>
                    <p>
                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Trả Lời</a>
                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Thích</a>
                    </p>
                </div>
            </div>
            <div class="card card-inner">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="user-template/images/cm1.jpg" class="img img-rounded img-fluid" /
                                style="width: 100%;border-radius: 80px; ">
                            <p class="text-secondary text-center">15 phút trước</p>
                        </div>
                        <div class="col-md-10">
                            <p><a href="#"><strong>Hồ Thị Thúy Hạnh</strong></a></p>
                            <div class="quantrivien">
                                Quản Trị Viên
                            </div>
                            <p>Chào bạn Thanh,
                                Dạ Bách Hóa Online rất xin lỗi bạn về trường hợp này đã làm bạn phiền lòng ạ. Thông tin
                                này Bách Hóa Online đã chuyển cho bộ phận liên quan kiểm tra, chậm nhất là 60 phút nữa
                                sẽ có nhân viên liên hệ xử lý cho bạn ạ.</p>
                            <p>
                                <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i>Trả
                                    Lời</a>
                                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i>Thích</a>
                            </p>
                        </div>
                    </div>

                    <nav>
                        <ul class="pagination text-sm-center">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li><a href=" ">1</a></li>
                            <li><a href=" ">2</a></li>
                            <li><a href=" ">3</a></li>
                            <li><a href=" ">4</a></li>
                            <li><a href=" ">5</a></li>
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div> -->
    <script type="text/javascript" src="user-template/js/customPages/jquerysingle.js"></script>
    
    <%- include("footer.ejs")  %>
    